<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= button_link_to t(:requests_list), admin_information_requests_path, {} %>
    </li>
  </ul>
  <br class="clear" />
</div>
<h1><%= t(:information_request) %></h1>


<table class="index" id="listing_requests">
  <tr data-hook="admin_products_index_headers">
    <th style="width:15%;">Name</th>
    <th style="width:20%;">Email</th>
    <th style="width:15%;">Company</th>
    <th style="width:20%;">Address</th>
    <th style="width:20%;">Question</th>
    <th style="width:10%;">Action</th>
  </tr>
  <tr data-hook="information_requests">
    <td><%= @information_req.name %></td>
    <td><a href="mailto:<%= @information_req.email %>"><%= @information_req.email %></a></td>
    <td><%= @information_req.company %></td>
    <td><%= @information_req.address %></td>
    <td><%= @information_req.question %></td>
    <td><a href="<%= @information_req.product_url %>">Product</a></td>
  </tr>
</table>
