<div class="block_6 top-slider-intro" style="width:100%">
	<div class="slider-container">
		<div style="overflow: hidden; position: relative;" class="flex-viewport">
			<ul style="width: 2000%; transition-duration: 0s; transform: translate3d(-924px, 0px, 0px);"  class="slides">
				<% slider6_images.each do |image| %>
					<li>
						<a href="<%= image.url %>" target = "<%= image.new_tab ? '_blank' : '' %>">
							<% if hove_over_image==nil %>
								<img src="<%= image.attachment.url(:original) %>" class='block_6_images' width="203" height="512"
								onmouseover="this.src='<%= asset_url('Edward Van Vliet Shop 2.png') %>';"
								onmouseout="this.src='<%= image.attachment.url(:original) %>';">
							<% else %>
								<img src="<%= image.attachment.url(:original) %>" class='block_6_images' width="203" height="512"
								onmouseover="this.src='<%= hove_over_image.attachment.url(:original) %>';"
								onmouseout="this.src='<%= image.attachment.url(:original) %>';">
							<% end %>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<ul class="flex-direction-nav" style="margin-bottom: 0;">
			<li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li>
		</ul>
	</div>
</div>
<style>
.block_6_images{
 width: 225px;
 height: 515px; 
}
</style>
