<ul class="bag">
  <li>
    <%= link_to raw("<span class=\"glyphicon glyphicon-heart #{ @product && has_favorite?(@product) ? 'red' : ''}\" aria-hidden=\"true\"></span><small>#{favorite_count}</small>"), favorites_path, id: "favorites", remote: true %>
  </li>
  <!-- <li>
    <%
      country_val = session[:country_name]
      country_val ||= "Select your country"
    %>
    <a id="country_currency_selector" href="#" title="Select country"><%= country_val %> <span class="ss-icon">dropdown</span></a>
  </li>

  <li id="currency_dropdown">
    <a href="#" title="Currency selection"><small><%=session[:currency] || "EUR"%></small><span class="ss-icon">dropdown</span></a>
    <ul>
      <li><a href="/country/set_currency?currency=EUR">EUR</a></li>
      <li><a href="/country/set_currency?currency=USD">USD</a></li>
    </ul>
  </li> -->

  <li>
    <a href="<%= spree.cart_path %>" title="Shopping Bag">Shopping Bag <small><%= current_order ? current_order.item_count : 0 %></small></a>
  </li>

  <% if spree_current_user %>
    <li><%= link_to t(:my_account), spree.account_path %></li>
    <li><%= link_to t(:logout), spree.destroy_spree_user_session_path %></li>
  <% else %>
    <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
  <% end %>
</ul>

<style>
.bag{
  position:absolute;
  top:100px;
}
</style>