<section class="focus">
    <header>
        <h1>404 this page doesn't exist</h1>
    </header>
    <section>
        <p>Just hit the backspace button on your keyboard or find your way through the following pages on Ethnic Chic.</p>
        <%= link_to 'Home', '/' %>
        <%= link_to 'Impressions', '/impressions' %>
        <%= link_to 'Collection', '/collection' %>
        <%= link_to 'About', '/about' %>
        <%= link_to 'Contact', '/contact-us' %>
    </section>
    <div class="buttons">
        <%= link_to 'Return to home', '/', class: "button right" %>
    </div>
</section>