<% content_for :head do -%>
  <meta name="title" content="Contact Us">
<% end -%>

<hgroup>
    <h1>MAKE AN APPOINTMENT TO VISIT US</h1>
</hgroup>

<section class="content small">
  <section class="half">
    <div id="map_canvas"></div>
    <p class="referral">
      <a rel="external" href="https://www.google.com/maps/place/Sarphatistraat+370,+1018+GW+Amsterdam,+The+Netherlands/@52.3625331,4.9154771,17z/data=!3m1!4b1!4m2!3m1!1s0x47c6099ee7e62e57:0xcb3a7e83f661da18
" title="Route to Ethnic Chic" class="ss-navigateright">Define your own route</a>
    </p>
  </section>

  <section class="half">
    <h2>Contact us</h2>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @contact } %>
    <%= form_for @contact, :url => contacts_path, :html => { :novalidate => '' } do |f| %>
      <fieldset>
        <div><%= f.text_field :name, :placeholder => "Name" %></div>
        <div><%= f.email_field :email, :placeholder => "E-mail" %></div>
        <div><%= f.text_area :message, :placeholder => "Your question", :cols => "50", :rows => "5" %> </div>
      </fieldset>
      <div class="buttons">
        <input type="submit" value="Send message" class="right" />
      </div>
    <% end %>
  </section>
</section>
<section class="content small">

    <section class="half">
        <h2>Address</h2>
        <address>
            <p>
                <strong>The office</strong><br/>
                'The Bell' Ethnic Chic - A16 <br />
                Sarphatistraat 370 <br />
                1018 GW Amsterdam <br />
                The Netherlands <br />
            </p>
            <p>
                +31 (0)20 330 80 66<br/>
                <a href="mailto:info@ethnicchic.com">info@ethnicchic.com</a>
            </p>
            <p>
              Btw: NL199399475B02 <br />
              KvK: 61262595 <br />
            </p>
        </address>
    </section>

    <section class="half">
        <h2>Showroom</h2>
        <p>
            We are open for our long standing customers as well as the general public and all you need to do is give a quick call or send an email to fix an appointment.
        </p>
        <p>
            Our new canal house showroom is an inspiration for those of you decorating your home and it is filled with the most fabulous collections of fabrics, wallcoverings, lighting, furniture and accessories.
        </p>
        <!--<h2>Join us on Facebook</h2>-->
        <div class="facebook">
            <span class="logo"></span>
            <a rel="external" href="http://facebook.com/ethnicchic" title="Ethnic Chic Facebook"><span class="icon facebook"></span>Visit us on <em></em></a>
        </div>
    </section>

    <p class="call-to-action">
        <a href="/collection">View our hand picked collection of <strong>exclusive brands</strong> representing daring and imaginative home couture.</a>
    </p>
</section>
