<%= form_for :spree_user, url: spree.spree_user_session_path do |f| %>
  <section>
  <ul>
    <li>
      <%= f.label :email, t(:email) %>
      <div><%= f.email_field :email, class: '' %></div>
    </li>
    <li>
      <%= f.label :password, t(:password) %>
      <div>
        <%= f.password_field :password, class: '' %>
      </div>
    </li>
    <li>
      <label></label>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, t(:remember_me) %>
      </div>
    </li>
    
  </ul>
</section>
<div class="buttons">
  <%= f.submit t(:login), class: 'right' %>
  <div class="create-an-account">
    <%= link_to t(:create_a_new_account), spree.signup_path %> |  <%= link_to t(:forgot_password), spree.new_spree_user_password_path %> 
  </div>
</div>
<% end %>